<main>

		<h4>About me</h4>
	<div class="abtWrapper container">

		<div class="row">
			<div class="Six abtHolder">
				<span class="abtHeader">Who am I?</span>
				<div class="abtSubHdr">Hai! my name is KARTHIKEYAN <br/>and I’m from INDIA.</div>
				<p>Born in a  democratic country with an ever changing society, sometimes things are not the same as always and so am I. Eager to learn new things, obsessed on being wee bit perfect than the day before and to live a little. There is <a href="#/awkward-me/" class="k97links">a comprehensive note about me</a> which I wrote a while ago, its a bit embarassing to see it now.<br/><strong>Cars, my family, friends & good designs are the FUEL to my LIFE!</strong></p>
			</div><!--/Six-->

			<div class="Six abtHolder lvlr">
				<span class="abtHeader">What I do?</span>
				<div class="abtSubHdr">UI DESIGN &amp; DEVELOPMENT<br/>for the web &amp; mobile</div>
				<p>I have been a web developer quite a while and now a full blown front end developer as things stand. I have listed few of my projects &amp; freelance work that I have worked on in this section and share my view here in this blog. I firmly believe in minimalism, hard work, uncompromised user experience and solving problems through design.<br/><strong>
LOOKING FORWARD TO WORK AS FULL TIME UX DEVELOPER.</strong></p>
			</div><!--/Six-->
		</div><!--/row-->


		<div class="row">
			<div class="Six abtHolder">
				<span class="abtHeader">how to connect?</span>
				<ul>
					<li><a href="https://twitter.com/karthik_97" target="_blank" title="My Twitter Profile"><i class="icon icon-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/karthikeyan.rajendran" target="_blank" title="My FB Page"><i class="icon icon-facebook"></i></a></li>
					<li><a href="https://github.com/k97" target="_blank" title="My Github Profile"><i class="icon icon-github2"></i></a></li>
					<li><a href="https://www.linkedin.com/pub/karthikeyan-rajendran/25/696/a1" target="_blank" title="My LinkedIn Profile"><i class="icon icon-linkedin"></i></a></li>
				</ul>
				<div class="cf"></div>
				<p><strong>OR</strong><br/> You can drop a mail</a><br/>
					to my <a href="mailto:stunningkarthik@yahoo.co.in" class="k97links">inbox</a>.</p>


			</div><!--/Six-->

			<div class="Six abtHolder lvlr">
				<span class="abtHeader">what does it involve?</span>
				<ul>
					<li><a href=""><i class="icon icon-file2"></i></a></li>
					<li><a href=""><i class="icon icon-display"></i></a></li>
					<li><a href=""><i class="icon icon-file-css"></i></a></li>
				</ul>
				<div class="cf"></div>

				<p>Prototyping & Wireframes<br/>
					UI design for web & mobile apps<br/>
					HTML5 & JS Development<br/>
				</p>
			</div><!--/Six-->
		</div><!--/row-->


	</div><!--/container-->
</main>


