<main>
	<h4 class="workHeader">
		All things are <strong>difficult</strong> before they are <strong>easy</strong>
	</h4>
	
	<div class="projectWrapper container">	
                
		<div class="row projectRow">
			<div class="Six carouselTile">
                <flex-slider slide="items in project.prImgs" animation="slide">
                    <li>
                        <img ng-src="../img/proj/{{items}}">
                    </li>
                </flex-slider>


    		</div><!--/Six-->

    		<div class="Six projectTile">

				<h2>{{project.prTitle}}</h2>
    			<h3>{{project.prRole}}</h3>
    			<span class="abtHeader">PROJECT SCOPE</span>
    			<ul>
    				<li ng-repeat="items in project.prFunctions">{{items}}</li>
    			</ul>
    		</div><!--/Six-->
    	</div><!--/row-->
    	
    	<div class="row">
    	<div class="Twelve projectDesc">
    	<h3>Project Details</h3>
	    	<p>{{project.prDesc}}</p>
    	</div><!--/Twelve-->


		</div><!--/row-->





	</div><!--/container-->
</main>

	
