<main>
	
		<h4>My CV</h4>
		<div class="staticWrapper container">	

		<div class="row statContent">
    		<div class="Twelve">
    			<h3>Summary</h3>
	    		<p>I have experience in web &amp; mobile application development along with cross browser/device optimization to craft intuitive user experiences.



	    		You can reach me through my <a href="mailto:stunningkarthik@yahoo.co.in" class="k97links">email address<a/>.</p>
    		</div><!--/Twelve-->
		</div><!--/row-->
		</div><!--/container-->
</main>

	
