<main>
	
		<h4>About Me</h4>
		<div class="staticWrapper container">	

		<div class="row statContent">
    		<div class="Twelve">
  			<blockquote>
                This was a note that I wrote sometime back when I was studying. Everything was interesting to me at the time. Looking back at it now feels a bit embarrassing but nonetheless there are few things in there which I still accord with. Check it out, its fun.
            </blockquote>
            
            <p><strong>Hi, I AM KARTHIKEYAN. CHENNAI IS MY HOMETOWN</strong>.<br/> Currently, I am a student at Tagore Engineering College, pursuing Bachelors in Information technology. Before joining TEC, I completed my Diploma in Information Technology at Sri Sairam Polytechnic College. And I did my schooling at Alpha MHSS.</p>
                
                <h5>PERSONAL LIFE:</h5>
                <p>No big deal. Got a great family with wonderful parents and few trustworthy friends and what more could one ask for?</p>
                
                <h5>POLITICAL VIEW:</h5>
                <p>Well, I am a person with strong political views. After long and hard thinking on politics I have come up with my views.<br/>I strongly oppose militaristic ideas and military industrialization, as an Indian and an admirer of Gandhiji; I strongly support nonviolence. There is no point in fighting wars and signing a treaty to stop it after impairing the lives and infrastructure of the country. Just sign the treaty before it happens and all is well.</p>

                <p>I wish there were no countries and boundaries.What I mean to say is that globalisation is the answer to many ongoing political dramas. There would be well behaved markets all around the world with the emergence of world economy compatible to growth and development of all countries. The world would be a better place if the present regulations on the people traveling to and from a place are not controlled by the government and the money transactions are regulated by a global body, which can grasp the needs of all places and modulate accordingly. And that kind of world is far from the reach as we are still bemused with each country's opposing ideologies.</p>
                
                <p>Talking of the ideologies, today's mass media has become a strong manipulator of the politics and the economy. I firmly oppose this role of mass media in politics because the political ideologies of a country work on the base of goals and principles of the country's substantial people. But media is a mere group of mortals. Their goals and principles may be a part of the country but they are not the entire representation to the country's views. The simple fact that media's economy depend on the country's economy should be made clear to the people in the media.</p>

                <h5>INTEREST:</h5>
                <h5>Engineering Interests:</h5>
                <p>I am very much passionate about engineering and my interest in engineering is to make things to be understood in a simple manner. Complication allows confusion, confusion leads to disorder, and disorder brings up mistakes, when mistakes show up, the whole point of engineering is lost. Advancement with Simplicity is what I really look up to.</p>

                <h5>Personal Interests:</h5>
                <p>The one thing that excites me to the core is CAR. Sometimes I wish I want to be like Barry Newman in Vanishing Point movie driving through roads, deserts with music but with no destination. I am sure I will get in to that mindset in the future when I have my soul car and the only thing that could stop me will be the empty fuel tank.</p>
                <p>According to me, cars are something that has soul. I am not talking about the cars that are there just to fill the marketing needs. It should be more of a character and create a passion for it in you. There are some cars that I need more than my next breath and I am 100% sure that I will have my hands on them one day. On reading this you might think I am a nutcase, but people around the world with similar view of mine won't see it in your way.</p>
                <p>Apart from that, I like to do things in a professional manner, not way too professionally but professional enough without loosing the fun part.</p>


   		</div><!--/Twelve-->
		</div><!--/row-->
		</div><!--/container-->
</main>

	
