<main>
	<h4 class="workHeader">
		All things are <strong>difficult</strong> before they are <strong>easy</strong>
	</h4>
	
	<div class="projectWrapper container">	

		<div class="row">
			<div class="Six carouselTile">

				<ul class="image carouselImg" rn-carousel rn-carousel-indicator rn-carousel-index="currentSlide">
					<li ng-repeat="items in project.prImgs">
					 <img ng-src="../img/proj/{{items}}"/>
      				</li>
    			</ul>
    			
    			<button class="Ctrls prevSlide" ng-click="currentSlide = currentSlide - 1" ng-disabled="currentSlide == 0"><i class="icon icon-arrow-left4"></i></button>
				
				<button class="Ctrls nextSlide" ng-click="currentSlide = currentSlide + 1"  ng-disabled="currentSlide == ({{project.prImgs}}).length - 1"><i class="icon icon-uniE7B8"></i></button>

    		</div><!--/Six-->

    		<div class="Six projectTile">

				<h2>{{project.prTitle}}</h2>
    			<h3>{{project.prRole}}</h3>
    			<span class="abtHeader">PROJECT SCOPE</span>
    			<ul>
    				<li ng-repeat="items in project.prFunctions">{{items}}</li>
    			</ul>
    		</div><!--/Six-->
    	</div><!--/row-->
    	
    	<div class="row">
    	<div class="Twelve projectDesc">
    	<h3>Project Details</h3>
	    	<p>{{project.prDesc}}</p>
    	</div><!--/Twelve-->


		</div><!--/row-->





	</div><!--/container-->
</main>

	
